*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Acme';
    src:url(Acme/Acme-Regular.ttf)
}

body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: 100vh;
    font-family: 'Acme';
}


.Yourlist{ 
    display: flex;
   flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #bdbbff;
    background-color: white;
    border-radius: 20px; 
    border: solid 2px #ffe6f5;
    border-radius: 20px;
   margin-top: 260px;
   margin-bottom: 40px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 15px 50px 15px;
   
}
/* End of header styling */



.Form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.Form input{
     border-radius: 10px;
     border: solid #ffe6f5 2px;
     margin: none;
     background-color: #ffe6f5;
    padding: 15px 65px 15px;
     margin-left: -120px;
     color: #bdbbff;
     font-family: 'Acme';
     
}


.Form button{
     border-radius: 15px;
    background-color:#ffe6f5; 
    border: solid #ffe6f5 2px;
    outline: none;
    padding: 20px;
    font-size: 10px;
    margin-left: 10px;
    color: #bdbbff;
    border-radius: 50px;
}

.overall{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px 200px 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
     backdrop-filter: blur(100px);
    box-shadow: 0 0 100px pink(0, 0, 0, 0,5);
    border: solid 2px #ffe6f5;

}

.look{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    margin-bottom: 20px;
    font-size: 20px;
    text-wrap: balance;
}


#TheList{
    margin-top: 30px;
    color: #bdbbff;
}



.rem{
    position: absolute;
    margin-left: 275px;
    border-radius: 20px;
    background-color:#ffe6f5; 
    padding-left: 5px;
    padding-right: 5px;
    color: #bdbbff;
    
} 

.rem:hover{
    background-color: coral;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #ffe6f5;
}

@media screen and (min-width: 440px){
    .rem{
        margin-left: 285px;
    }
}

@media screen and (min-width: 600px){
    .Yourlist{
        margin-left: 50px;
        margin-right: 50px;
    }

    .overall{
        margin-left: 50px;
        margin-right: 50px;
    }
    .rem{
        margin-left: 390px;
    }

    .Form input{
        padding-left: 180px;
    }
}

@media screen and (min-width: 768px){
    .rem{
        margin-left: 395px;
    }
    .Yourlist{
        margin-left: 130px;
        margin-right: 130px;
    }
    .overall{
        margin-left: 130px;
        margin-right: 130px;
    }
}

@media screen and (min-width: 960px){
    .Yourlist{
        margin-left: 230px;
        margin-right: 230px;
    }
    .overall{
        margin-left: 230px;
        margin-right: 230px;
    }
    .rem{
        margin-left: 390px;
    }
}

@media screen and (min-width: 1024px){
    .Yourlist{
        margin-left: 260px;
        margin-right: 260px;
    }

    .overall{
        margin-left: 260px;
        margin-right: 260px;
    }
}

@media screen and (min-width: 1440px){
    .Yourlist{
        margin-left: 450px;
        margin-right: 450px;
    }
    .overall{
        margin-left: 450px;
        margin-right: 450px;
    }
    .rem{
        margin-left: 410px;
    }
}

@media screen and (min-width: 1560px){
    .Yourlist{
        margin-left: 560px;
        margin-right: 560px;
    }

    .overall{
        margin-left: 560px;
        margin-right: 560px;
    }
    .rem{
        margin-left: 445px;
    }

    .Form input{
        padding-left: 230px;
    }
}
   
    









